
.container {
  background-color: #E1E8ED;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image:url('./Home.png');
  background-repeat: no-repeat;
  background-position: center;
  
}
.tasks{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  position: absolute;
  height: 792px;
  left: 70px;
  margin-top: 188px;

}
.kanban_text{
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
 color:#171717;
 margin-right: 1254px;
 margin-left: 60px;
 
}
.card_todo{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 10px;
  align-items: center;
  
}

.avatar_male{
 margin-left: 20px;
 margin-top: 36px;

}