


.App-header {
  background-color: #E1E8ED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image:url('./Home.png');
  background-repeat: no-repeat;
  background-position: center;

}
.kanban_text{
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
 color:#171717;
 margin-right: 1254px;
 
}
.Card_div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 10px;
  position: static;
  margin-left: 5px;
}

.avatar_male{
 margin-left: 20px;
 margin-top: 36px;

}
.text1_style{
  position: static;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212529;
  margin-top: 1px;
  margin-left: 10px;
  height: 20px;
  
}