  .card_label {
    display: flex;
    flex-direction: column;
     background-color: #ffff;
     width: 280px;
    border-radius: 4px;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 15px 10px;

  }  

  .label{
    background-color:#59B4D1;
    color: #ffff;
    font-size: 10px;
    margin-left: 14px;
    line-height: 10px;
    padding:5px 4px;
    border-radius: 2px;
    align-items: flex-end;
  }
  .label_orange{
    background-color:#D0935A;
    color: #ffff;
    font-size: 10px;
    margin-left: 14px;
    line-height: 10px;
    padding:5px 4px;
    border-radius: 2px;
  }
  .label_purple{
    background-color:#945AD1;
    color: #ffff;
    font-size: 10px;
    margin-left: 14px;
    line-height: 10px;
    padding:5px 4px;
    border-radius: 2px;
  }
  .label_green{
    background-color:#59D090;
    color: #171717;
    font-size: 10px;
    margin-left: 14px;
    line-height: 10px;
    padding:5px 4px;
    border-radius: 2px;
  }

    .text1_style{
      font-style: normal;
      font-size: 14px;
      color: #212529;
      margin: 0;
      Width:260px;
  }

  .avatar_male{
   margin-top: 0;
   margin-left: 0;
   
  }
  .label_div{
    display: flex;
     margin-top: 10px;
     flex-direction: row;
  }